
<!-- <div class="request-item" *ngFor="let item of request">

    <span>{{item.uid}} </span>
    <span>{{item.robot_to_send}} </span>
    <span>{{item.executed}} </span>
    <span>{{item.joint_1}} </span>
    <span>{{item.joint_2}} </span>
    <span>{{item.joint_3}} </span>
    <span>{{item.joint_4}} </span>
    <span>{{item.joint_5}} </span>
    <span>{{item.joint_6}} </span>
</div>


<form [formGroup]="requestForm" (ngSubmit)="onSubmit(checkoutForm.value)">

        <button class="post-button" type="submit" (click)="post()">Post</button>
    </form> -->
