<!--The content below is only a placeholder and can be replaced.-->
<div class="grid-container">
  
  <div  class="top">
    <p>Robot Requests</p>
  </div>

  <div class="table-container">
      <table class="hoverTable">
          <tr class="table-head" > 
                  
              <th>UID</th>
              <th>Execution Status</th>
              <th>Robot Assigned</th>
              <th>Joint 1</th>
              <th>Joint 2</th>
              <th>Joint 3</th>
              <th>Joint 4</th>
              <th>Joint 5</th>
              <th>Joint 6</th>
          </tr>
              
              <tr  *ngFor='let request of requests' style="text-align:center">

                  <th>{{request.uid}}</th>
                  <th>{{request.executed}}</th>
                  <th>{{request.robot_to_send}}</th>
                  <th>{{request.joint_1}}</th>
                  <th>{{request.joint_2}}</th>
                  <th>{{request.joint_3}}</th>
                  <th>{{request.joint_4}}</th>
                  <th>{{request.joint_5}}</th>
                  <th>{{request.joint_6}}</th>
              </tr>
        


      </table>
    </div>


  <div class="post-container">

    <button class="post-button" (click)="post()">Post</button>
  </div>

  <!-- <div class="form-container">

      <app-request></app-request>
  </div> -->
  
</div>
<router-outlet></router-outlet>
