
.form-container{
    
    /* display: inline-block; */
    /* margin: 1%; */
    /* background: #828385; */
    
    background: #383838;
    color:#ffffff;
    width: 50%;
    height:100%;
    margin-left: 25%;
    border-radius: 10px;
    border-bottom: #828385;
    padding: 1%;
}

.table-head{
    background: #828385;
    color: white;
}

table{
    font-weight: normal;
    width:100%;
    background: #ffffff;
    color:#000000;
    padding: 1%;
    align-content: center;
    border-radius: 5px; 
    border-collapse: collapse;
}
/* 
body{
    background-color: #828385;
} */


tr{
    text-align: center;
   
}

th{
    border-bottom: 1px solid grey;
}



 tr:hover{
    background-color: #828385;
    color: #ffffff;

}

.grid-container{
    display: grid;
    width:100%;
    height:100%;
    background-color: #f8f7f7;
}

.table-container{
    margin: 1%;
    padding: 1%;
    align-content: center;
}

.mdc-data-table{
    margin:1%;
    padding: 1%;
    align-content: center;
}

.top{
    /* height: 30%; */
    
    margin-bottom: 1%;
    text-size-adjust: 30%;
    font-weight: bold;
    text-align: center;
    padding:0.1%;
    background: #0f0f0f;
    color: #ffffff;
}

/* .post-button{
    font-size: 2.5em;
    color: #ffffff;
    background:  #CD040B;
    font-weight: bold;
    border-radius: 5px;
    border: none;
   
} */