<!--The content below is only a placeholder and can be replaced.-->
<div class="grid-container">
  
  <div  class="top">
    <p>Robot Requests</p>
  </div>

    
<div class="mdc-data-table" >
    
    <table class="mdc-data-table__table">

        <thead>
                <tr class="mdc-data-table__header-row" style="color:white; background:black;">
                        <th class="mdc-data-table__cell">UID</th>
                        <th class="mdc-data-table__cell">Executed</th>
                        <th class="mdc-data-table__cell">Robot</th>
                        <th class="mdc-data-table__cell">Joint 1</th>
                        <th class="mdc-data-table__cell">Joint 2</th>
                        <th class="mdc-data-table__cell">Joint 3</th>
                        <th class="mdc-data-table__cell">Joint 4</th>
                        <th class="mdc-data-table__cell">Joint 5</th>
                        <th class="mdc-data-table__cell">Joint 6</th>
                </tr>
        </thead>
        <tbody>

                <tr class="mdc-data-table__content" *ngFor='let request of requests'>
                        <th class="mdc-data-table__cell">{{request.uid}}</th>
                        <th class="mdc-data-table__cell">{{request.executed}}</th>
                        <th class="mdc-data-table__cell">{{request.robot_to_send}}</th>
                        <th class="mdc-data-table__cell">{{request.joint_1}}</th>
                        <th class="mdc-data-table__cell">{{request.joint_2}}</th>
                        <th class="mdc-data-table__cell">{{request.joint_3}}</th>
                        <th class="mdc-data-table__cell">{{request.joint_4}}</th>
                        <th class="mdc-data-table__cell">{{request.joint_5}}</th>
                        <th class="mdc-data-table__cell">{{request.joint_6}}</th>
                </tr>
        </tbody>
        
    </table>
</div>


  <div class="form-container"> 

    <app-request>

    </app-request>

  </div>

  
</div>
<router-outlet></router-outlet>
